.body {
    top:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color:beige;
    padding-top:20px
}
.header {
    top:20px;
    left:20px;
    right:20px;
    height:100px;
    background-color: crimson;
}
.center {
    text-align:center
}
.lafonta {
    font-family:Courier
}
.lafontab {
    font-family:'Brush Script MT', cursive;
    font-size:xx-large;
}
.fontcolor1 {
    color:beige
}
ol, ul {
    margin: 0;
    padding: 0;
}

.video-container {
    position: absolute;
    top: 225px;
    right: 40px;
    width: 300px;
}
.picture-container {
    position: absolute;
    top: 225px;
    left: 40px;
}
